@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

.sigin-logo{
    width: 400px;
}

.right-heading{
}

.badge{
    padding:5px 15px !important;
    font-size:12px;
    margin:4px 5px !important;
}